<div>
  <h2>Create Room</h2>
  ...

  <div class="form">
    <mat-form-field class="example-form-field">
      <mat-label>Room Name</mat-label>
      <input matInput type="text" [(ngModel)]="data.name" />
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Password (optional)</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="data.password"
        (keydown.enter)="signIn._getHostElement().click()"
      />
    </mat-form-field>

    <div (click)="openFileSelector()">
      Click or drop a file here ({{ files.length }} selected)
    </div>

    <div class="button-actions">
      <button
        #signIn
        mat-raised-button
        color="primary"
        [disabled]="
          !data ||
          !data.name ||
          data.name.length < minLengthName ||
          files.length <= 0 ||
          isLoading
        "
        (click)="submit()"
      >
        <span *ngIf="!isLoading">Create Room</span>
        <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
      </button>
    </div>
  </div>
</div>
