:host {
  position: relative;

  #render-canvas {
    background-color: #000;

    // width: 100% !important;
    // height: 100% !important;
    width: 794px !important;
    height: 550px !important;
    border: 1px solid #aaa;
  }

  #stats {
    position: absolute;
    top: 0;
    right: 0;
  }

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .players {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 108px;
    flex-wrap: wrap;

    & > * {
      display: inline-block;
      position: absolute;
      width: 198px;
      height: 54px;
      cursor: move;
    }
  }
}
