<div class="viewer boundary" #viewer>
  <div id="stats"></div>
  <canvas #rendererCanvas id="render-canvas"></canvas>
  <div class="players">
    <div
      cdkDragBoundary=".boundary"
      cdkDrag
      *ngFor="let characterIndex of characterBars; let index = index"
      (cdkDragMoved)="barPositionChanged($event, index)"
      [cdkDragFreeDragPosition]="{ x: characterIndex.x, y: characterIndex.y }"
      (cdkDragEnded)="endDragPlayerBar()"
      [style.z-index]="index"
    >
      <div></div>
    </div>
  </div>
</div>
