.tab-page {
  padding-top: 0.5rem;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > span:first-of-type {
    flex: 1;
    margin-right: 0.75em;
  }

  & > span:nth-of-type(2) {
    width: 70px;
  }

  .mat-slider-horizontal {
    width: 100%;
    margin-bottom: 0.3rem;
    cursor: pointer;
    min-width: 100px;
  }

  .mat-form-current-config {
    width: 100%;
  }

  .config-length {
    margin-bottom: 0.3rem;
  }
}

.options {
  margin-top: 1rem;

  ::ng-deep .mat-figure {
    justify-content: start;
  }

  .mat-form-interval {
    width: 100%;
  }
}

.space-left {
  padding-left: 0.8rem;
}

::ng-deep .mat-icon-button {
  transition: filter 0.5s, opacity 0.5s;
}

::ng-deep .mat-icon-button.mat-button-disabled {
  filter: grayscale(0.8);
  opacity: 0.4;
}
