<!-- (((recordingService.recording$ | async)?.scenes?.length) ?? 1 )- 1 -->

<div class="tab-page" [appDisable]="maxFrameIndex <= 0">
  <div class="slider">
    <span>
      <mat-slider
        color="primary"
        min="0"
        [max]="maxFrameIndex"
        step="1"
        [value]="renderControlsService.currentSceneIndexEvent | async"
        (valueChange)="changeCurrentIndexNumber($event)"
      ></mat-slider>
    </span>

    <span>
      <mat-form-field class="mat-form-current-config">
        <input
          matInput
          min="0"
          [max]="maxFrameIndex"
          step="1"
          [value]="
            (
              (renderControlsService.currentSceneIndexEvent | async) ?? 0
            ).toString()
          "
          (change)="changeCurrentIndex($event)"
          type="number"
        />
      </mat-form-field>
    </span>
    <span class="config-length"> / {{ maxFrameIndex }}</span>
  </div>

  <mat-grid-list cols="5" rowHeight="40px">
    <mat-grid-tile>
      <button
        mat-icon-button
        (click)="renderControlsService.firstFrame()"
        [disabled]="!renderControlsService.pause"
      >
        <mat-icon color="primary">skip_previous</mat-icon>
      </button></mat-grid-tile
    >
    <mat-grid-tile>
      <button
        mat-icon-button
        (click)="renderControlsService.previousFrame()"
        [disabled]="!renderControlsService.pause"
      >
        <mat-icon color="primary" class="rotated-180-degree"
          >play_arrow</mat-icon
        >
      </button></mat-grid-tile
    >
    <mat-grid-tile>
      <button
        mat-icon-button
        (click)="renderControlsService.pause = !renderControlsService.pause"
      >
        <mat-icon color="primary" *ngIf="renderControlsService.pause"
          >play_circle_outline</mat-icon
        >
        <mat-icon color="primary" *ngIf="!renderControlsService.pause"
          >pause</mat-icon
        >
      </button></mat-grid-tile
    >
    <mat-grid-tile>
      <button
        mat-icon-button
        (click)="renderControlsService.nextFrame()"
        [disabled]="!renderControlsService.pause"
      >
        <mat-icon color="primary">play_arrow</mat-icon>
      </button></mat-grid-tile
    >
    <mat-grid-tile>
      <button
        mat-icon-button
        (click)="renderControlsService.lastFrame()"
        [disabled]="!renderControlsService.pause"
      >
        <mat-icon color="primary">skip_next</mat-icon>
      </button></mat-grid-tile
    >
  </mat-grid-list>

  <fieldset class="slider">
    <legend>FPS</legend>

    <span>
      <mat-slider
        color="primary"
        min="1"
        max="200"
        step="1"
        [value]="renderControlsService.fps"
        (valueChange)="changeFPSNumber($event)"
      ></mat-slider>
    </span>

    <span>
      <mat-form-field class="mat-form-current-config">
        <input
          matInput
          min="1"
          max="200"
          step="1"
          [value]="renderControlsService.fps.toString()"
          (change)="changeFPS($event)"
          type="number"
        />
      </mat-form-field>
    </span>
  </fieldset>
</div>
