<ngx-dropzone
  (change)="onSelect($event)"
  [disableClick]="true"
  [multiple]="false"
  [accept]="SUPPORTED_FILE_EXTENSIONS"
  #drop
  class="dropzone"
>
  <div class="page">
    <nlfr-header></nlfr-header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
    <nlfr-footer></nlfr-footer>
  </div>
</ngx-dropzone>
