<div class="resizer" #resizer>
  <div class="fake-scene-player">
    <nlfr-scene-player
      *ngIf="
        !assetsService.isLoading && !!(recordingService.recording$ | async);
        else loading
      "
      [recording]="recordingService.recording$ | async"
    ></nlfr-scene-player>
  </div>
  <div class="controls"><nlfr-player-controls></nlfr-player-controls></div>
  <ng-template #loading> LOADING </ng-template>
</div>
