:host {
  .resizer {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }

  .viewer {
    position: relative;

    .infos {
      display: none; // debug

      > * {
        position: absolute;
      }
    }
  }

  .controls {
    width: 350px;
  }
}
