<footer>
  <span>Easier LF2 Replay Viewer &copy; 2021 - {{ time.getFullYear() }}</span>
  <span></span>
  <span
    >Created by
    <a
      href="https://www.lui-studio.net"
      class="lui-link"
      target="_blank"
      [tabIndex]="-1"
      >Lui's Studio</a
    >
  </span>
</footer>
