<div>
  <h2>Join Room</h2>
  ...

  <div class="form">
    <mat-form-field class="example-form-field">
      <mat-label>Room ID</mat-label>
      <input matInput type="text" [(ngModel)]="data.roomID" />
    </mat-form-field>

    <mat-form-field class="example-form-field">
      <mat-label>Password (optional)</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="data.password"
        (keydown.enter)="signIn._getHostElement().click()"
      />
    </mat-form-field>

    <div class="button-actions">
      <button
        #signIn
        mat-raised-button
        color="primary"
        [disabled]="
          !data ||
          !data.roomID ||
          data.roomID.length < minLengthName ||
          isLoading
        "
        (click)="submit()"
      >
        <span *ngIf="!isLoading">Join Room</span>
        <mat-spinner [diameter]="30" *ngIf="isLoading"></mat-spinner>
      </button>
    </div>
  </div>
</div>
