html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

@font-face {
  /* Author: RazenBrenday */
  font-family: 'LF2-Font';
  src: url('/assets/fonts/RZMusashi.ttf') format('truetype'),
    url('/assets/fonts/RZMusashi.eot') format('embedded-opentype');
}

.unsupported-hint {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5rem;
  align-items: center;
  justify-content: center;
  font-size: 160%;
  text-align: center;
}

.rotated-180-degree {
  transform: rotateY(180deg);
}

[app-disabled] {
  opacity: 0.9;
  pointer-events: none;
  filter: grayscale(0.5);
}

.lui-link,
.lui-link:visited {
  color: #0d7c59;
  font-weight: bold;
  text-decoration: underline;
  transition: color 1s ease;
}

.lui-link:hover {
  color: #16cc92;
  text-decoration: underline;
}

#stats > * {
  position: absolute !important;
  left: unset !important;
  right: 0;
  z-index: 100 !important;
}

#ie-detector {
  display: none;
}
